html {
	height:100%;
	width:100%;
	}
body {
	height:100%;
	width:100%;
	margin:0 auto;
	font-size:100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: aquamarine;
	}
  img{
    width: 50%;
    height:50%;
  }
  h1 {
    font-family:Verdana;
    font-weight:normal;
    font-size:38px;
    color:blueviolet;
    margin-top:5px;
    margin-bottom:10px;
  }
div {
  background-color: blueviolet;
  color: aqua;
  height:20%;
	width:20%;
}

a {
  color: red;
  font-size: large;
  font-weight: bold;
  text-underline-position: below;
}